$color-bg: #102028;
$color-fg: #eeeeee;
$color-fg-inv: #111111;
$color-fg-weak: #aaaaaa;
$color-primary: #00cccc;

$font: "Rajdhani", sans-serif;
$font-title: "Chakra Petch", sans-serif;
$font-icon: "Material Symbols Outlined";
